/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/

body {
  background-color: black;
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}

.vidBox {
  display: none;
  color: 	#D3D3D3;
  border: 2px solid;
  border-radius: 3px;
  padding: 5px;
}

.buttonBox {
  visibility: hidden;
  display: block;
  text-align: center;
  margin: 25px auto;
}

/* CSS */
button {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: 	#D3D3D3;
  cursor: pointer;
  border: 2px solid;
  border-radius: 3px;
  padding: 20px 50px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  top: 5px;
  left: 5px;
}
